/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* eslint-enable */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Nico Moji";
  src: url("/fonts/nicomoji-plus_v2-5.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
